# Sensible Konfigurationsdatei
.env

# Ordner für Composer-Abhängigkeiten
/vendor/

# Ordner für temporäre Dateien und Logs
/temp/
/log/
/var/
/var/cache/
/var/log/
.php-cs-fixer.cache
.phpunit.cache

# Node.js Abhängigkeiten
/node_modules/
.phpunit.cache/test-results

#Testdateien
coverage.xml
/coverage/
